In [2]:
import pandas as pd

In [10]:
jobsDF = pd.read_csv('../data/Egypt Job Posts 22.csv')
jobsDF

,Title,Company Name,Area,Governorate,Country,Job Type,Experience Level,Min Yrs of Excperience,Max Yrs of Experience,Gender,...,Skills - 1.3,Skills - 2,Skills - 2.1,Skills - 3,Skills - 3.1,Skills - 3.2,Skills - 3.3,Skills - 4,Skills - 5,Skills - 6
0,Banking Call Center Agent,Raya Customer Experience,NaN,Cairo,Egypt,Full Time,Entry Level,0.0,5.0,NaN,...,Customer Care,Call Center,Customer Service,Customer Support,NaN,NaN,NaN,NaN,NaN,NaN
1,Call Center Agent Banking,Raya Customer Experience,NaN,Maadi,Egypt,Full Time,Entry Level,0.0,5.0,NaN,...,Call Center,Customer Care,Customer Service,English,NaN,NaN,NaN,NaN,NaN,NaN
2,Odoo Functional Consultant,Centione,NaN,Nasr City,Egypt,Full Time,Experienced,2.0,5.0,NaN,...,Implementation,ERP,Financial Management,Project Management,NaN,NaN,NaN,NaN,NaN,NaN
3,CRM Specialist,Fawry Microfinance,NaN,Cairo,Egypt,Full Time,Entry Level,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Core Banking Technical Support Engineer,Confidential,NaN,Giza,Egypt,Full Time,Experienced,3.0,6.0,NaN,...,IT/Software Development,Engineering,Computer Science,Software Development,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15203,logistics Officer,NaN,NaN,Cairo,Egypt,NaN,Entry Level,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15204,IOS developer,NaN,NaN,Cairo,Egypt,NaN,Student,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15205,خدمة عملاء توشيبا بالمقر الرئيسى العباسية,NaN,NaN,Cairo,Egypt,NaN,Entry Level,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15206,IT specialist with LMS and support Experience ...,NaN,NaN,Cairo,Egypt,NaN,Experienced,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15207,مندوب مبيعات خارجي,NaN,NaN,Cairo,Egypt,NaN,Entry Level,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN